<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Kloud Calc - BETA</title>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="simple calculator to help you estimate the monthly costs of your AWS cloud.  Rackspace, Joyent and many others are coming soon.">
  <meta name="author" content="Ben Dang">

  <!-- styles -->
  <link href="css/bootstrap.css" rel="stylesheet">
  
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- fav and touch icons -->
  <!--
  <link rel="shortcut icon" href="ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
  -->

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32470514-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
  <div id="kloudcalc-app" class="container">
    <div id="header" class="page-header">
      <div class="row">
        <div class="span6">
          <h1>Kloud Calc</h1>
          <small>simple calculator to help you estimate the monthly costs of AWS</small>
        </div>  
        <div class="span6" style="text-align: right">
          <h1 id="total-cost">$0.00</h1> <h6>per month</h6>
        </div>
      </div>
    </div>
      
    <div id="main">
      <div id="block-list">
      </div>
    </div>
  
    <footer>
      <div style="margin-bottom: 20px;margin-top: 10px;">
        <button class="btn btn-primary" id="add-compute-block">Add Compute Block</button>
      </div>
    </footer>
  </div><!-- end kloudcalc-app -->
  
  <!-- javascript -->
  <script src="js/libs/json/json2.js"></script>
  <script src="js/libs/jquery/jquery-1.7.2.min.js"></script>
  <script src="js/libs/underscore/underscore.js"></script>
  <script src="js/libs/backbone/backbone.js"></script>
  <script src="js/klouddata.js"></script>
  <script src="js/kloudcalc.js"></script>
  
  <!-- Templates -->
  <script type="text/template" id="compute-block-template">
      <div class="span10 form-inline">
        <div class="input-append">
          <input id="qty" type="text" class="input-mini" value="<%= qty %>"><span class="add-on">x</span>
        </div>
        <input id="name" type="text" class="input-medium" value="<%= name %>">
        <select id="os" class="input-small">
          <option value="Linux">Linux</option>
          <option value="Windows">Windows</option>
        </select>
        <select id="instance-size" class="input-small">
          <option>t1.micro</option>
          <option>m1.small</option>
          <option>m1.medium</option>
          <option>m1.large</option>
          <option>m1.xlarge</option>
          <option>m2.xlarge</option>
          <option>m2.2xlarge</option>
          <option>m2.4xlarge</option>
          <option>c1.medium</option>
          <option>c1.xlarge</option>
          <option>cc1.4xlarge</option>
          <option>cc2.8xlarge</option>
          <option>cg1.4xlarge</option>
        </select>
        <select id="region" class="input-medium">
          <option>US East (Virgina)</option>
          <option>US West (Oregon)</option>
          <option>US West (Northern California)</option>
          <option>EU (Ireland)</option>
          <option>Asia Pacific (Singapore)</option>
          <option>Asia Pacific (Tokyo)</option>
          <option>South America (Sao Paulo)</option>
        </select>
        <div class="input-append">
          <input id="hours-per-month" type="text" class="input-mini" value="<%= hoursPerMonth %>"><span class="add-on">hrs</span>
        </div>
      </div>
      <div class="span1" style="text-align: right">
        <h3 id="cost">$<%= cost %></h3>
      </div>
      <div class="span1" style="text-align: right">
        <button class="btn btn-danger destroy">
          <i class="icon-trash icon-white"></i>
        </button>
      </div>
  </script>
</body>
</html>