<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>I have a back bone</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Ben Dang">

  <!-- styles -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <style type="text/css">
    body {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }
  </style>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- fav and touch icons -->
  <!--
  <link rel="shortcut icon" href="ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
  -->
</head>

<body>
  <div id="kloudcalc-app">
    <section id="header">
      <div class="page-header">
        <h1>Kloud Calc</h1>
        <small>simplified calculator to help you estimate the monthly costs of AWS</small>
      </div>
    </section>
      
    <section id="main">
      <div id="block-list">
      </div>
    </section>
  
    <section id="footer">
      <div class="row">
        <div class="span12" style="margin-bottom: 20px;margin-top: 10px;">
          <button class="btn btn-primary" id="add-compute-block">Add Compute Block</button>
        </div>
      </div>
    </section>
  </div>
  
  <!-- javascript -->
  <script src="js/json2.js"></script>
  <script src="js/jquery-1.7.2.min.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/backbone.js"></script>
  <script src="js/backbone-localstorage.js"></script>
  <!--<script src="js/bootstrap-transition.js"></script>-->
  <script src="js/bootstrap-dropdown.js"></script>
  <script src="js/bootstrap-button.js"></script>
  <script src="klouddata.js"></script>
  <script src="kloudcalc.js"></script>
  
  <!-- Templates -->
  <script type="text/template" id="compute-block-template">
    <div class="row">
      <div class="span1">
        <div class="input-append">
          <input type="text" style="width: 30px;" value="<%= qty %>"><span class="add-on">x</span>
        </div>
      </div>
      <div class="span2">
        <input type="text" class="span2" value="<%= name %>">
      </div>
      <div class="span4">
        <div class="btn-toolbar" style="margin-top: 0px;">
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">t1.micro
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">m1.small</a></li>
              <li><a href="#">m1.medium</a></li>
              <li><a href="#">m1.large</a></li>
              <li><a href="#">m1.xlarge</a></li>
              <li class="divider"></li>
              <li><a href="#">m2.xlarge</a></li>
              <li><a href="#">m2.2xlarge</a></li>
              <li><a href="#">m2.4xlarge</a></li>
              <li class="divider"></li>
              <li><a href="#">c1.medium</a></li>
              <li><a href="#">c1.xlarge</a></li>
              <li class="divider"></li>
              <li><a href="#">cc1.4xlarge</a></li>
              <li><a href="#">cc2.8xlarge</a></li>
              <li class="divider"></li>
              <li><a href="#">cg1.4xlarge</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">US East (Virgina)
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">US West (Oregon)</a></li>
              <li><a href="#">US West (Northern California)</a></li>
              <li><a href="#">EU (Ireland)</a></li>
              <li><a href="#">Asia Pacific (Singapore)</a></li>
              <li><a href="#">Asia Pacific (Tokyo)</a></li>
              <li><a href="#">South America (Sao Paulo)</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="span2">
        <div class="input-append">
          <input type="text" class="span1" value="<%= hours_per_month %>"><span class="add-on">hrs</span>
        </div>
      </div>
      <div class="span2">
        <h3>$<%= cost %></h3>
      </div>
      <div class="span1">
        <button class="btn btn-danger destroy">
          <i class="icon-trash icon-white"></i>
        </button>
      </div>
    </div>
  </script>
</body>
</html>