<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>I have a back bone</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Ben Dang">

  <!-- styles -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <style type="text/css">
    body {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }
  </style>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- fav and touch icons -->
  <!--
  <link rel="shortcut icon" href="ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
  -->
</head>

<body>
  <div id="kloudcalc-app">
    <section id="header">
      <div class="page-header">
        <h1>Kloud Calc</h1>
        <small>simplified calculator to help you estimate the monthly costs of AWS</small>
      </div>
    </section>
      
    <section id="main">
      <div id="block-list">
      </div>
    </section>
  
    <section id="footer">
      <div class="row">
        <div class="span12" style="margin-bottom: 20px;margin-top: 10px;">
          <button class="btn btn-primary" id="add-compute-block">Add Compute Block</button>
        </div>
      </div>
    </section>
  </div>
  
  <!-- javascript -->
  <script src="js/json2.js"></script>
  <script src="js/jquery-1.7.2.min.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/backbone.js"></script>
  <script src="js/backbone-localstorage.js"></script>
  <!--<script src="js/bootstrap-transition.js"></script>-->
  <script src="js/bootstrap-dropdown.js"></script>
  <script src="js/bootstrap-button.js"></script>
  <script src="klouddata.js"></script>
  <script src="kloudcalc.js"></script>
  
  <!-- Templates -->
  <script type="text/template" id="compute-block-template">
      <div class="span8 form-inline">
        <div class="input-append">
          <input id="qty" type="text" class="input-mini" value="<%= qty %>"><span class="add-on">x</span>
        </div>
        <input type="text" class="input-medium" value="<%= name %>">
        <select class="input-small">
          <option>Linux</option>
          <option>Windows</option>
        </select>
        <select class="input-small">
          <option>t1.micro</option>
          <option>m1.small</option>
          <option>m1.medium</option>
          <option>m1.large</option>
          <option>m1.xlarge</option>
          <option>m2.xlarge</option>
          <option>m2.2xlarge</option>
          <option>m2.4xlarge</option>
          <option>c1.medium</option>
          <option>c1.xlarge</option>
          <option>cc1.4xlarge</option>
          <option>cc2.8xlarge</option>
          <option>cg1.4xlarge</option>
        </select>
        <select class="input-medium">
          <option>US East (Virgina)</option>
          <option>US West (Oregon)</option>
          <option>US West (Northern California)</option>
          <option>EU (Ireland)</option>
          <option>Asia Pacific (Singapore)</option>
          <option>Asia Pacific (Tokyo)</option>
          <option>South America (Sao Paulo)</option>
        </select>
        <div class="input-append">
          <input type="text" class="input-mini" value="<%= hoursPerMonth %>"><span class="add-on">hrs</span>
        </div>
      </div>
      <div class="span1">
        <h3>$<%= cost %></h3>
      </div>
      <div class="span1">
        <button class="btn btn-danger destroy">
          <i class="icon-trash icon-white"></i>
        </button>
      </div>
  </script>
</body>
</html>